.hello{
	background-color: yellow;
}

.div1{
	background-color: red;
}

.black{
	position: absolute;
	background-color: black;
	width: 100px;
	height: 100px;
}

.white{
	position: absolute;
	background-color: red;
	width: 100px;
	height: 100px;
}

.red{
	position: absolute;
	background-color: red;
	height: 100px;
	width: 100px;
}

.green{
	position: absolute;
	background-color: green;
	height: 100px;
	width: 100px;
}

.blue{
	position: absolute;
	background-color: blue;
	height: 100px;
	width: 100px;
}

.bar{
	background-color: #17202A;
	height: 30px;
}

.bar-button{
	border-color: #F9EBEA;
	border-radius: 10px;
	position: absolute;
	background-color: #17202A;
	height: 20px;
	width: 50px;
	left: 10px;
	border-style: solid;
	border-width: 5px;
	color: white;
	font-size: 10px;
	text-align: center;
}


